body {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
.desc1, .desc2, .desc3{
  font-size: 15px;
  color: #000000;
}
main> img {
  width: 600px;
  text-align: center;
  border-style: double;
  }
